[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
pandas = "*"
requests = "*"
scipy = "*"
pyts = "*"
optuna = "*"
optuna-dashboard = "*"
kagglehub = "*"
torch = "*"
finplot = "*"
matplotlib = "*"
mplfinance = "*"
pyyaml = "*"
gymnasium = "*"
stochastic = "*"
plotly = "*"
ipywidgets = "*"
deprecated = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
